<template>
  <PageWrapper dense>
    <BasicTable @register="registerTable">
      <template #tableTitle>
        <Space>
          <a-button
            type="primary"
            :pre-icon="IconEnum.ADD"
            @click="handleAdd"
            v-auth="'${permissionPrefix}:add'"
            >新增${functionName}</a-button
          >
          <a-button
            :preIcon="IconEnum.DELETE"
            danger
            @click="multipleRemove(${businessName}Remove)"
            :disabled="!selected"
            v-auth="'${permissionPrefix}:remove'"
            >选中删除</a-button
          >
        </Space>
      </template>
      <template #toolbar>
        <Space>
          <a-button
            :preIcon="IconEnum.EXPORT"
            color="warning"
            @click="downloadExcel(${businessName}Export, '${functionName}数据')"
            ghost
            v-auth="'${permissionPrefix}:export'"
            >导出数据</a-button
          >
        </Space>
      </template>
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            stopButtonPropagation
            :actions="[
              {
                label: '修改',
                icon: IconEnum.EDIT,
                type: 'primary',
                ghost: true,
                auth: '${permissionPrefix}:edit',
                onClick: handleEdit.bind(null, record),
              },
              {
                label: '删除',
                icon: IconEnum.DELETE,
                type: 'danger',
                ghost: true,
                auth: '${permissionPrefix}:remove',
                popConfirm: {
                  placement: 'left',
                  title: '是否删除${functionName}[' + record.${pkColumn.javaField} + ']?',
                  confirm: handleDelete.bind(null, record),
                },
              },
            ]"
          />
        </template>
      </template>
    </BasicTable>
    <${BusinessName}Modal @register="registerModal" @reload="reloadWithCallback" />
  </PageWrapper>
</template>

<script setup lang="ts">
  import { PageWrapper } from '/@/components/Page';
  import { BasicTable, useTable, TableAction } from '/@/components/Table';
  import { Space } from 'ant-design-vue';
  import { ${businessName}List, ${businessName}Export, ${businessName}Remove } from '/@/api/${moduleName}/${businessName}';
  import { downloadExcel } from '/@/utils/file/download';
  import { useModal } from '/@/components/Modal';
  import ${BusinessName}Modal from './${BusinessName}Modal.vue';
  import { formSchems, columns } from './${businessName}.data';
  import { IconEnum } from '@/enums/appEnum';

  defineOptions({ name: '${BusinessName}' });

  const [registerTable, { reload, reloadWithCallback, multipleRemove, selected }] = useTable({
    rowSelection: {
      type: 'checkbox',
    },
    api: ${businessName}List,
    showIndexColumn: false,
    rowKey: '${pkColumn.javaField}',
    useSearchForm: true,
    formConfig: {
      schemas: formSchems,
      baseColProps: {
        span: 8,
      },
    },
    columns: columns,
    actionColumn: {
      width: 200,
      title: '操作',
      key: 'action',
      fixed: 'right',
    },
  });

  const [registerModal, { openModal }] = useModal();

  function handleEdit(record: Recordable) {
    openModal(true, { record, update: true });
  }

  function handleAdd() {
    openModal(true, { update: false });
  }

  async function handleDelete(record: Recordable) {
    await ${businessName}Remove([record.${pkColumn.javaField}]);
    await reload();
  }
</script>

<style scoped></style>
